# Python Basic

In [1]:
print('Hello Word')

Hello Word

In [2]:
# assigning the values to variable
a = 10
b = 20

In [3]:
print(a)
print(b)

10
20

In [4]:
print(a, end= ' ')
print(b)

10 20

In [5]:
b,a = a,b

In [6]:
print(a, end= ' ')
print(b)

20 10

In [7]:
print(a,b)

20 10

In [8]:
c= 10
print(a, end = '\t')
print(b, end = '\b')
print(c)

20	1010

In [9]:
print(a, b, sep = ',')

20,10

In [10]:
# we can assing a value to _ , a-zA-Z but not to number, if, else, fun, etc and special charecter
# i.e. 10 = 100 gives the SyntaxError: cannot assign to literal here.
_ = 10
_

10

In [11]:
_a = 10
_b = 20
c = _a + _b
c

30

In [12]:
# can not use the pre defined char as variable
if = 1

SyntaxError: invalid syntax (Temp/ipykernel_28312/1191014641.py, line 2)

In [14]:
# accept input from user
# input method give the output as string

In [15]:
a = input('Enter the number: ')
print(a)

Enter the number: 1
1

In [16]:
a

'1'

# Python Data Type.

1. Numeric : int, float, complex
2. Boolen : bool
3. Sequence : str, list, bytes, bytearray, tuple, range
4. Set : set, froznset
5. Mapping : Dict
6. None: None type

# 1 byte = 8 bit (0|1)
# 1 kb = 1024 byte
# 1 mb = 1024 kb
# 1 gb = 1024 mb
# 1 tb = 1024 bg

# Bool

In [17]:
a = False

In [18]:
type(a)

bool

In [19]:
3 > 4

False

In [20]:
3 < 4

True

# String

In [21]:
a = 'a'
a

'a'

In [22]:
type(a)

str

In [23]:
name = 'vilas'

In [24]:
type(name)

str

In [25]:
chr(65)

'A'

In [26]:
# print >>>>>>>>>>"that's is good code"
msg = "that's is good code"
msg

"that's is good code"

In [27]:
msg = 'that"s is good code'
msg

'that"s is good code'

In [28]:
msg = '''that's is "good" code'''
print(msg)

that's is "good" code

In [29]:
# multilne strign
msg = '''
my
name 
is 
python
'''
print(msg)

my
name
is
python

In [30]:
# q... WAP take two input from user and subtract it

num1 = int(input('Enter the num1: '))
num2 = int(input('Enter the num2: '))

print('The subtraction is:',num1-num2)

Enter the num1: 10
Enter the num2: 2
The subtraction is: 8

# Slicing and Operator

In [31]:
# in python indexing start from 0, 1, 2, .... left to right
# -1, -2, -3, ...... right to left
x = 'python'

In [32]:
# print >>>>>> x in revers order
x[::-1]

'nohtyp'

In [33]:
# print 'on'
x[4:]

'on'

In [34]:
# it exclude the last element
x[4:5]

'o'

In [35]:
x[-2:]

'on'

In [36]:
# 
x[6:10]

''

In [37]:
x[4:4]

''

In [38]:
# string concatination

In [39]:
name_1 = 'Python'
name_2 = 'code'

In [40]:
name_1 + name_2

'Pythoncode'

In [42]:
name_1 + ' ' + name_2

'Python code'

In [45]:
name_1 *2

'PythonPython'

In [49]:
tmp_name = name_1 + name_2
tmp_name

'Pythoncode'

In [47]:
len(tmp_name)

10

In [48]:
# printing the string with steps
tmp_name[0:10:2] # step with 2

'Ptocd'

In [50]:
tmp_name[-10:-1:1]

'Pythoncod'

In [51]:
tmp_name[-10:-1:2]

'Ptocd'

In [52]:
# reversing the string
tmp_name[::-1]

'edocnohtyP'

In [54]:
tmp_name[-1:-11:-1]

'edocnohtyP'

In [55]:
# revers string with step size 2
tmp_name[-1:-11:-2]

'eonhy'

# Operators

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

# Arithmetic operators

## Arithmetic operators are used with numeric values to perform common          mathematical operations:
+	Addition	x + y
-	Subtraction	x - y
*	Multiplication	x * y
/	Division	x / y
%	Modulus x % y
**	Exponentiation	x ** y
//	Floor division	x // y

In [66]:
a = 10
b = 5

In [77]:
# Addition	x + y
a+b

15

Backing off send_request(...) for 8.0s (requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158CF9C6BB0>, 'Connection to api.segment.io timed out. (connect timeout=15)')))

In [68]:
# Subtraction	x - y
a-b

5

In [69]:
# Multiplication	x * y
a*b

50

In [70]:
# Division	x / y
a/b

2.0

In [71]:
# Modulus x % y
a%b

0

In [72]:
# Exponentiation	x ** y
a**b

100000

In [76]:
# Floor division	x // y
a//b

2

# Assignment operators

## Assignment operators are used to assign values to variables:
=	x = 5	x = 5
+=	x += 3	x = x + 3
-=	x -= 3	x = x - 3
*=	x *= 3	x = x * 3
/=	x /= 3	x = x / 3
%=	x %= 3	x = x % 3
//=	x //= 3	x = x // 3
**=	x **= 3	x = x ** 3
&=	x &= 3	x = x & 3
|=	x |= 3	x = x | 3
^=	x ^= 3	x = x ^ 3
>>=	x >>= 3	x = x >> 3
<<=	x <<= 3	x = x << 3

In [83]:
x = 10
x %= 3
x

1

Backing off send_request(...) for 0.5s (requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158CF9B2040>, 'Connection to api.segment.io timed out. (connect timeout=15)')))

In [89]:
x = 6
x >> 3

0

In [90]:
x = 6
x << 3

48

Backing off send_request(...) for 63.7s (requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158CFA287F0>, 'Connection to api.segment.io timed out. (connect timeout=15)')))

# Comparison operators

### Comparison operators are used to compare two values:
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

# Logical operators

## Logical operators are used to combine conditional statements:
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true not(x < 5 and x < 10)

In [91]:
x = 10
y= 15

In [93]:
x > 9 and y < 20

True

In [94]:
x < 9 and y < 20

False

In [95]:
x < 9 and y > 20

False

In [96]:
x < 9 or y < 20

True

In [97]:
x < 9 and y > 20

False

In [105]:
not(x > 5 and x < 15)

False

Backing off send_request(...) for 203.4s (requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158CFA28940>, 'Connection to api.segment.io timed out. (connect timeout=15)')))

# Identity Operators

## Identity operators are used to compare the objects, not if they are equal,    but if they are actually the same object, with the same memory location:
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

In [106]:
x is y

False

In [99]:
x is not y

True

# Membership Operators

## Membership operators are used to test if a sequence is presented in an object:
in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

In [111]:
x, y

(10, 15)

Backing off send_request(...) for 447.3s (requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158CFA38040>, 'Connection to api.segment.io timed out. (connect timeout=15)')))

In [107]:
ls = [10, 5]

In [108]:
x in ls

True

In [109]:
y in ls

False

In [110]:
y not in ls

True

# Bitwise Operators

## Bitwise operators are used to compare (binary) numbers:
Operator	Name	Description:
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
^	XOR	Sets each bit to 1 if only one of two bits is 1
~	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

In [112]:
x & y

10

In [113]:
x | y

15

# Function : Join(), copy(), deepcopy(), shallowcopy(), print()

In [163]:
# join()


The join() method takes all items in an iterable and joins them into one string.
A string must be specified as the separator.

Syntax:
string.join(iterable)

In [117]:
# with list
names = ['abc', 'def', 'ghi']
names

['abc', 'def', 'ghi']

In [119]:
" ".join(names)

'abc def ghi'

In [120]:
"#".join(names)

'abc#def#ghi'

In [121]:
# With Tuple

In [122]:
names_tup = ('abc', 'def', 'ghi')
names_tup

('abc', 'def', 'ghi')

In [123]:
" ".join(names_tup)

'abc def ghi'

Giving up send_request(...) after 11 tries (requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158CFA28CA0>, 'Connection to api.segment.io timed out. (connect timeout=15)')))
error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158CFA28CA0>, 'Connection to api.segment.io timed out. (connect timeout=15)'))

In [124]:
# With Dict

In [126]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"


mySeparator.join(myDict)

'nameTESTcountry'

Backing off send_request(...) for 0.9s (requests.exceptions.ConnectTimeout: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000158D0448610>, 'Connection to api.segment.io timed out. (connect timeout=15)')))

In [164]:
# Copy()



What is Shallow copy in Python?

>> any changes made to a copy of an object do reflect in the original object. In python, this is implemented using the “copy()” function.

In [152]:
import copy
names= ['abc', 'def', 'ghi',[1,2,3]]
names

['abc', 'def', 'ghi', [1, 2, 3]]

In [153]:
names_copy = copy.copy(names)
names_copy

['abc', 'def', 'ghi', [1, 2, 3]]

In [156]:
names_copy[3][0] = 10

In [157]:
names

['abc', 'def', 'ghi', [10, 2, 3]]

# With shallow copy: it will change the element in side list of list both original and copied

In [165]:
# Deep copy()


What is Deep copy in Python?
It means that any changes made to a copy of the object do not reflect in the original object.

In [158]:
names_deepcopy = copy.deepcopy(names)
names_deepcopy

['abc', 'def', 'ghi', [10, 2, 3]]

In [159]:
names_deepcopy[3][0] = 100

In [160]:
names_deepcopy

['abc', 'def', 'ghi', [100, 2, 3]]

In [161]:
names

['abc', 'def', 'ghi', [10, 2, 3]]

# With Deep copy: it will change the element in side list of list only in copied but not in orginal

In [166]:
# print()

In [167]:
name = 'Python'

In [169]:
print( name)

Python

In [168]:
# Normal printing
print('hello ', name)

hello  Python

In [171]:
# Formate Specifier
print('Hello %s, how are you'%(name))

Hello Python, how are you

In [172]:
sirname = 'Code'

In [173]:
print('Hello %s %s, how are you'%(name, sirname))

Hello Python Code, how are you

In [174]:
a = 10
print('value of a is %d' %(a))

value of a is 10

In [177]:
b = 20.9
print('value of b is %0.2f' %(b))

value of b is 20.90

In [179]:
# with Format specifier
print('value of a is %d, name is %s, value is b %0.1f' %(a,name, b))

value of a is 10, name is Python, value is b 20.9

In [180]:
# with format function

In [181]:
print('value of a is {}'.format(a))

value of a is 10

In [182]:
print('value of a is {} and name is {}'.format(a,name))

value of a is 10 and name is Python

In [183]:
age = 20

In [184]:
print('name is {} and age is {}'.format(name,age))

name is Python and age is 20

In [185]:
# wrong input
print('name is {} and age is {}'.format(age,name))

name is 20 and age is Python

In [186]:
# by defualt value we can give 0 , 1 / 1 ,0
print('name is {0} and age is {1}'.format(name,age))

name is Python and age is 20

In [187]:
# by defualt value we can give 0 , 1, 2, 3....
print('name is {1} and age is {0}'.format(name,age))

name is 20 and age is Python

In [190]:
# 
print('name is {0} {2} and age is {1}'.format(name,age,sirname))

name is Python Code and age is 20

In [191]:
# F string

In [192]:
print(f'my name is {name} and age is {age}')

my name is Python and age is 20

In [193]:
a = 10
b = 20
print(f'max from {a} and {b} is {max(a,b)}')

max from 10 and 20 is 20

# Conditional Statement

In [194]:
x = 50

In [195]:
if x> 50:
    print('first if')
if x<50:
    print('second if')
if x == 50:
    print('thrid if')

thrid if

In [196]:
if x> 50:
    print('printing 50')
else:
    print('not printing 50')

not printing 50

In [197]:
if x>= 50:
    print('printing 50')
else:
    print('not printing 50')

printing 50

In [198]:
num = int(input('Enter the number : '))
if num % 2 == 0:
    print('Number %d is Even'%(num))
else:
    print('Number %d is Odd'%(num))

Enter the number : 15
Number 15 is Odd

In [199]:
name = input('Enter the name : ')
if name == name.upper():
    print('Name is in capital ')
else:
    print('Name is in smalll')

Enter the name : PYTHON
Name is in capital

In [200]:
# Nested statment

In [201]:
a = 100
b = 200

In [202]:
if a< 150:
    if b > 150:
        print('ok')
else:
    print('Not Ok')

ok

In [204]:
# find the no. is grether than or not
num1  = int(input('Enter the 1st num.'))
num2  = int(input('Enter the 2nd num.'))
num3  = int(input('Enter the 3rd num.'))

if num1 > num2:
    if num1 > num3:
        print(num1)
if num2 > num1:
    if num2 > num3:
        print(num2)
else:
    print(num3)

Enter the 1st num.10
Enter the 2nd num.9
Enter the 3rd num.20
20

# loop: while loop and for loop

In a for loop, the set of declarations, including iterations and conditions, sits at the top of the body.
In a while loop, initialization is always outside the loop. Before or after the execution of the statement(s), update can be performed.
A for loop is a control flow statement that executes code repeatedly for a particular number of iterations.
A loop that executes a single statement or a group of statements for the given true condition. The keyword used to represent this loop is while.
When no condition is given in the for loop, the loop will iterate infinite times, while in the case of the while loop, it will give an error (compile time error).

# Split(), pass, break, continue......................

# while loop

In [206]:
x =10
i= 1
while i< x:
    print(i)
    print('Python')
    i = i+1

1
Python
2
Python
3
Python
4
Python
5
Python
6
Python
7
Python
8
Python
9
Python

In [207]:
# print 50 natural no.
x = 50
y = 1
while y <= x:
    print(y)
    y = y+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [208]:
string = input(' enter string : ')
str_length = len(string)
str_length
temp_len = 0
while temp_len < str_length:
    if string[temp_len].lower() not in 'aioue':
        print(string[temp_len])
    temp_len = temp_len +1

 enter string : Python code
P
y
t
h
n

c
d

In [210]:
# while loop with else statment
x = 10
y = 1
while y <= x:
    print(y)
    if y == 5:
        break
    y = y+1
else:
    print('Loop completed')

1
2
3
4
5

In [211]:
# if loop break then it will not execute ELSE statement
x = 10
y = 1
while y <= x:
    print(y)
    #if y == 40:
    #    break
    y = y+1
else:
    print('Loop completed')

1
2
3
4
5
6
7
8
9
10
Loop completed

In [212]:
# without else statement not adding any importance here
x = 10
y = 1
while y <= x:
    print(y)
    #if y == 40:
    #    break
    y = y+1

print('Loop completed')

1
2
3
4
5
6
7
8
9
10
Loop completed

In [213]:
# Split()

In [214]:
text  = 'I write code'

In [215]:
text.split()

['I', 'write', 'code']

In [217]:
# unpacking
w1, w2, w3 =text.split()

In [218]:
w1

'I'

In [219]:
w2

'write'

In [220]:
w3

'code'

In [223]:
nums = input('Write 2 numbers:')
num1, num2 = nums.split()
print(f'the sum of {nums} is {int(num1)+int(num2)}')

Write 2 numbers:10 20
the sum of 10 20 is 30

In [224]:
s1 = 'A B C D E F'
print(s1.split(' ', maxsplit=3))

['A', 'B', 'C', 'D E F']

In [225]:
s1 = 'A B C D E F'
print(s1.split(' ', maxsplit=1))

['A', 'B C D E F']

In [226]:
s1 = 'A B C D E F'
print(s1.split(' ', maxsplit=4))

['A', 'B', 'C', 'D', 'E F']

In [227]:
# continue while loop.............................
    
# Break = terminate the loop
# continue = skip the curent interation

In [228]:
i =1 
while i<= 10:
    if i % 2 != 0:
        print(i)
    i = i+ 1

1
3
5
7
9

In [229]:
i =0 
while i<= 10:
    i = i+ 1
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11

In [230]:
# skip 5
i =0 
while i<= 10:
    i = i+ 1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [231]:
# pass = no operatin taken

In [232]:
if i < 10:
    pass

In [234]:
i =0 
while i<= 10:
    i = i+ 1
    if i == 5:
        pass
        #print(i)
    else:
        print(i)

1
2
3
4
6
7
8
9
10
11

In [235]:
i =0 
while i<= 10:
    i = i+ 1
    if i == 5:
        break
        print(i)
    else:
        print(i)

1
2
3
4

In [236]:
ls = ['a', 'e', 'c', 'd']
i = 0
while i < len(ls):
    if ls[i] == 'b':
        print('b found')
        break
    i = i + 1
else:
    print(' b is not found')

 b is not found

In [237]:
i =0 
while i < 4:
    i = i+ 1
    if i % 2 != 0:
        pass
        print('hi',end=' ')
        
    else:
        print(i, end= ' ')

hi 2 hi 4

In [238]:
i =0 
while i < 4:
    i = i+ 1
    if i % 2 != 0:
        break
        print('hi',end=' ')
        
    else:
        print(i, end= ' ')

In [239]:
i =0 
while i < 4:
    i = i+ 1
    if i % 2 != 0:
        continue
        print('hi',end=' ')
        
    else:
        print(i, end= ' ')

2 4

# For Loop........ Range()

In [240]:
name

'PYTHON'

In [241]:
for i in name:
    print(i)

P
Y
T
H
O
N

In [242]:
fruits = ['apple', 'org','grapes', 'mango', 'papaya']

is_grapes = False

for i in fruits:
    if i == 'grapes':
        is_grapes = True
        print('Grapes found')
        break
if is_grapes == False:
    print('Not found')

Grapes found

In [244]:
my_list = [14,10,12,17,19, -50]

low_bound = 10
upper_bond = 20
for i in my_list:
    if i < low_bound & i > upper_bond:
        print(' All elements are not in limit')
        break
else:
    print('All elements are in limit')

All elements are in limit

# Range()
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
# IMP
# range alway start from 0 to ...
# not from -ve to ..
# move left to right
# 'float' object cannot be interpreted as an integer

In [246]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [247]:
# alway move from left to rigth
list(range(-10,1))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]

In [248]:
# Defult start from 0
list(range(-10))

[]

In [250]:
# Defult start from 0
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [249]:
# right to left by adding -ve step
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [252]:
num = int(input('Enter the number : '))

total = 0

for i in range(1, num + 1):
    total = total +i
    
print(f'The sum of number for 1 to {num} is {total}')

Enter the number : 10
The sum of number for 1 to 10 is 55

In [253]:
# same as while and else

for i in range(10):
    print(i)
else:
    print('loop complted')

0
1
2
3
4
5
6
7
8
9
loop complted

In [254]:
for i in range(10):
    
    print(i)
    
    if i == 5:
        break
else:
    print('loop complted')

0
1
2
3
4
5

In [255]:
num = [1,2,3]
alph = ['a', 'b', 'c']

for i in num:
    print(i)
    for j in alph:
        print(j)

1
a
b
c
2
a
b
c
3
a
b
c

In [256]:
for i in range(3):
    for j in range(3):
        print('*', end= ' ')
    print()

* * *
* * *
* * *

In [257]:
for i in range(3):
    print('* ' *3)

* * *
* * *
* * *

In [259]:
for i in range(6):
    for j in range(0, i):
        print('*', end = ' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [260]:
# questions

In [261]:
# print the numbers till the num  until the zero is entered
while True:
    num = int(input('Enter the num:'))
    if num == 0:
        break
    else:
        print(list(range(1, num+1)))

Enter the num:10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Enter the num:5
[1, 2, 3, 4, 5]
Enter the num:6
[1, 2, 3, 4, 5, 6]
Enter the num:0

In [262]:
num = int(input('Enter the num:'))
while(num):
    print(list(range(1, num+1)))
    num = int(input('Enter the num:'))

Enter the num:10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Enter the num:5
[1, 2, 3, 4, 5]
Enter the num:0

In [263]:
# break automaticaly if zeor entered [ 0 is False]
while(0):
    print('j')

In [265]:
# goes into infinet loop
#while(1):
#    print('j')

# Data Structure

## 1. List[]

In [266]:
mylist = []
mylist

[]

In [267]:
# list of integer
mylist = [1,2,3,4,5]
mylist

[1, 2, 3, 4, 5]

In [268]:
# list with mixed elements
my_list = [1, 'vilas', 3.]
my_list

[1, 'vilas', 3.0]

In [269]:
# inbuild function called 'list()'
# for interable
list('python')

['p', 'y', 't', 'h', 'o', 'n']

In [270]:
# 10 (int) is not iterable
list(10)

TypeError: 'int' object is not iterable

In [271]:
# list with tuple
list((1,2,3))

[1, 2, 3]

In [272]:
# accessing the elements
# forward indexing(0,1,2,....) and Backward indexing(-1,-2,-3,..)
mylist = [1,2,3,4,45,5,6,7]

In [273]:
# access 3
mylist[2]

3

In [274]:
# slicing 2 to 45
mylist[1:5] # excluded last element

[2, 3, 4, 45]

In [275]:
mylist[-1]

7

In [277]:
mylist[-1::-1]

[7, 6, 5, 45, 4, 3, 2, 1]

In [278]:
mylist[-3]

5

In [279]:
mynum = [10,20,30,40,50]

In [280]:
mynum[1:6]

[20, 30, 40, 50]

In [281]:
mynum[2:2], mynum[2:3], mynum[1:]

([], [30], [20, 30, 40, 50])

In [286]:
mynum[2:4] = 50,4  
mynum

[10, 20, 50, 4, 50]

In [288]:
sports = ['cri', 'hokey', 'footb']
sports

['cri', 'hokey', 'footb']

In [289]:
# change the 2nd element
sports[1] = 'bat'
sports

['cri', 'bat', 'footb']

In [290]:
sports[1:3] = ['a','b']
sports

['cri', 'a', 'b']

In [291]:
# lsit concatination

In [292]:
cap = ['A','B','C']
small = ['a','b','C']

In [293]:
cap + small

['A', 'B', 'C', 'a', 'b', 'C']

In [294]:
cap + ['D']

['A', 'B', 'C', 'D']

In [295]:
cap + list('E')

['A', 'B', 'C', 'E']

In [296]:
cap + list(['E'])

['A', 'B', 'C', 'E']

In [297]:
cap*3

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

In [298]:
# not allowed
#cap + 3

In [299]:
'A' in cap

True

In [300]:
'A' not in cap

False

### list function

In [ ]:
# Change the Heading font by adding #

# A

## A

### A

#### A

1 len()
2 max()
3 min()
4 sum()
5 sorted()
6 any()
7 all()
8 list()

In [301]:
ls = [1,2,3,4,5]

In [302]:
# 1 len()
len(ls)

5

In [303]:
# 2 max()
max(ls)

5

In [304]:
# 3 min()
min(ls)

1

In [306]:
# 4 sum()
sum(ls)

15

In [305]:
# 5 sorted() # accending order
sorted(ls)

[1, 2, 3, 4, 5]

In [307]:
# decending order
sorted(ls,reverse= True)

[5, 4, 3, 2, 1]

In [310]:
# 6 any()
ls1 = [0,1,2,3,4,5]
any(ls1)  # or

True

In [311]:
any([0,0])

False

In [312]:
any([0,1])

True

In [308]:
# 7 all()
# if all element in list true then it will give True else give False
all(ls)

True

In [309]:
ls1 = [0,1,2,3,4,5]
all(ls1)  # and

False

In [313]:
all([0,0])

False

In [314]:
all([1,0])

False

### list method

1 append()
2 extend()
3 insert(),  index()
4 count()
5 remove()
6 pop()
7 clear()
8 reversed()
9 sort()

In [315]:
ls = [1,2,3,4,5]
ls

[1, 2, 3, 4, 5]

In [316]:
# to add one element at time
ls.append(100)
ls

[1, 2, 3, 4, 5, 100]

In [317]:
# to add multiple element at time ........1st way
ls.extend([150, 500])
ls

[1, 2, 3, 4, 5, 100, 150, 500]

In [318]:
# to add multiple element at time  ............ 2nd way
ls + [150, 500]

[1, 2, 3, 4, 5, 100, 150, 500, 150, 500]

In [319]:
# append add one at time
ls.append([150, 500])
ls

[1, 2, 3, 4, 5, 100, 150, 500, [150, 500]]

In [321]:
# ls[3] = 50 is overwrite but insert add the new element at given position
# insert extra element at  perticular position
# to insert element at perticular position
ls.insert(4, 50)
ls

[1, 2, 3, 4, 50, 50, 5, 100, 150, 500, [150, 500]]

In [322]:
# again insert at 4th position
ls.insert(4, 50)
ls

[1, 2, 3, 4, 50, 50, 50, 5, 100, 150, 500, [150, 500]]

In [323]:
ls[-1][1]

500

In [324]:
# count
ls.count(50)

3

In [325]:
ls.count(500)

1

In [326]:
# to get index of perticular element
ls.index(1)

0

In [327]:
ls.index(50)

4

In [328]:
#ls.index(4,start = 1,stop =6) index if between start and stop
ls.index(500,1,-1)

10

In [329]:
# remove
# to remove the single element directly 
# single element
# ls.remove(value, /)
ls.remove([150,500])
ls

[1, 2, 3, 4, 50, 50, 50, 5, 100, 150, 500]

In [330]:
ls.remove(4)
ls

[1, 2, 3, 50, 50, 50, 5, 100, 150, 500]

In [331]:
# pop
# remove and return thr element at the given index and return the removed element
#index
#  ls.pop(index=-1, /)  default
ls.pop()

500

In [332]:
ls

[1, 2, 3, 50, 50, 50, 5, 100, 150]

In [333]:
# clear ---------- Remove all items from list.
ls.clear()

In [334]:
ls

[]

In [335]:
ls = ['a','d', 'c', 'b']

In [336]:
# sort in accending and deceniding order
ls.sort()
ls

['a', 'b', 'c', 'd']

In [337]:
# revers thr list
ls.reverse()
ls

['d', 'c', 'b', 'a']

In [338]:
ls1 = [1,2,3,4]
ls1.reverse()
ls1

[4, 3, 2, 1]

In [348]:
# With while loop
ls1 = [1,2,3,4]
i = 1
while i <= len(ls1):
    print(ls1[-i])
    #print(i)
    i = i+1

4
3
2
1

In [354]:
for i in range(len(ls1),0, -1):
    print(i)

4
3
2
1

Q 1 : Write a program to accept five integer from user, and store them in a list 
Display these integers and sum integers

In [357]:
ls = input('Enter Five numbers (seprated by comma:')
temp= ls.split(',')
Final_ls = []
for i in temp:
    Final_ls.append(int(i))
print('List of number entered are : ', Final_ls)
print('Sum of Final_ls is: ', sum(Final_ls))

Enter Five numbers (seprated by comma:10,20,50,40,50,60,60
List of number entered are :  [10, 20, 50, 40, 50, 60, 60]
Sum of Final_ls is:  290

In [360]:
# print unique numbers from list without using in-build fun
Final_ls = [10, 20, 30, 40, 50, 20 , 50]


lt = []
for i in Final_ls:
    if i not in lt:
        lt.append(i)
        
lt

[10, 20, 30, 40, 50]

### List comprehension

In [361]:
my_list = 'Python'

In [362]:
new_ls = []
for i in my_list:
    new_ls.append(i)

In [363]:
new_ls

['P', 'y', 't', 'h', 'o', 'n']

In [364]:
# with list comprehension
[i for i in my_list]

['P', 'y', 't', 'h', 'o', 'n']

In [365]:
# WAP to produce squre of no. from 1 to 5 , store them into a list and print them
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [366]:
# old approach
sq = []
for i in range(1,6):
    sq.append(i**2)
sq

[1, 4, 9, 16, 25]

In [367]:
# wap to accept string from user and convert each char into upper case
user_in = input('Enter your name:')

[i.upper() for i in user_in]

Enter your name:python

['P', 'Y', 'T', 'H', 'O', 'N']

In [368]:
user_in = input('Enter your name:')
ls_str = []
for i in user_in:
    ls_str.append(i.upper())
    
ls_str

Enter your name:python

['P', 'Y', 'T', 'H', 'O', 'N']

In [369]:
user_in = input('Enter your name:')

ls_str = []
for i in user_in.split():
    ls_str.append(i.upper())
    
ls_str

Enter your name:python code

['PYTHON', 'CODE']

In [370]:
[i.upper() for i in user_in.split()]

['PYTHON', 'CODE']

In [371]:
# wap to accept 5 int form user and store it into list and display of list

num = []
for i in range(1,6):
    num_input = input('Enter the num: ')
    num.append(int(num_input))

Enter the num: 10
Enter the num: 10
Enter the num: 20
Enter the num: 40
Enter the num: 50

In [372]:
num

[10, 10, 20, 40, 50]

In [373]:
user_int = input('Enter the number by , seperated:')
ls_num = (user_int.split(','))
newls = []
for i in ls_num:
    newls.append(int(i))
print('Sum of list is : ',sum(newls))        
newls

Enter the number by , seperated:10,20,30
Sum of list is :  60

[10, 20, 30]

In [374]:
# with list comp
user_int = input('Enter the number by , seperated:')

ls_1 = [int(i) for i in user_int.split(',')]
print('Sum of list is : ',sum(ls_1)) 
ls_1

Enter the number by , seperated:10,20,30
Sum of list is :  60

[10, 20, 30]

In [377]:
# sq of odd num only and store it inot list 20

[i **2  for i in range(20) if (i % 2 != 0)]

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [378]:
odd_sq =[]
for i in range(1,21):
    if i%2 != 0:
        odd_sq.append(i**2)
odd_sq

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [ ]:
# wap create fun called remove vovels which accept string as argument and written with all the vovel removed from lsit

In [380]:
str_inp = input('Enter the name: ')

ls = []
for i in str_inp:
    if i.lower() not in 'aeiou':
        ls.append(i)
ls

Enter the name: python

['p', 'y', 't', 'h', 'n']

# Tuple

In [381]:
# hedrogenius elements : (1, 'vilas', 10.5)
# ()
# immutable
# Fast
# take less memory
# use when data is fix

In [382]:
my_tuple = ()
my_tuple

()

In [383]:
my_tuple = (1)
my_tuple

1

In [384]:
type(my_tuple)

int

In [385]:
# need a , to creat tuple with one element
my_tuple = (1,)
my_tuple

(1,)

In [386]:
type(my_tuple)

tuple

In [387]:
tup_homo = (1,2,3,4)
tup_homo

(1, 2, 3, 4)

In [388]:
tup_htro = (1, 'vilas', 102.5, True)
tup_htro

(1, 'vilas', 102.5, True)

In [389]:
tup_htro[1][1]

'i'

In [391]:
# tuple without ()
my_tuple = 1,2,3
type(my_tuple)

tuple

In [ ]:
# concept of packing and unpacking

In [392]:
# packing
a = 1,2,3
a

(1, 2, 3)

In [393]:
# unpacking
x,y,z = a

In [394]:
x

1

In [395]:
y

2

In [396]:
z

3

In [398]:
ls = [1,2,3,4]

In [399]:
aa,bb,cc,dd = ls

In [400]:
bb

2

In [401]:
# accessing tuple variable

In [402]:
my_tuple = (1,2,3,4,5,6,7,8,9)
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [403]:
my_tuple[1:5]

(2, 3, 4, 5)

In [404]:
my_tuple[0:6]

(1, 2, 3, 4, 5, 6)

In [405]:
my_tuple[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [406]:
my_tuple[2:3]

(3,)

In [407]:
my_tuple[0:110]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [408]:
my_tuple[:-2]

(1, 2, 3, 4, 5, 6, 7)

In [409]:
my_tuple[9:5:-1]

(9, 8, 7)

In [410]:
# tuple is immutable
my_tuple[5] =5

TypeError: 'tuple' object does not support item assignment

In [411]:
mstp = ([1,2],3,4,5)

In [412]:
mstp[0][1]

2

In [413]:
# we can modify list inside tuple
mstp[0][1] = 10

In [414]:
mstp

([1, 10], 3, 4, 5)

In [415]:
mytuple = (100,200,300,400)

In [416]:
# we can change complete tuple 
mytuple = (1,2,3,4)

In [417]:
# here we changing the entire element , memory location is also change 
mytuple = (1,2,3)

In [418]:
# individual operation not allow
del (mytuple[1])

TypeError: 'tuple' object doesn't support item deletion

In [419]:
# we can delete whole tuple
del (mytuple)

### tuple function

len
max
min
sorted
any
all
tuple

In [420]:
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [421]:
len(my_tuple)

9

In [422]:
max(my_tuple)

9

In [423]:
min(my_tuple)

1

In [424]:
sorted(my_tuple)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [427]:
sorted(my_tuple,reverse= True)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [425]:
# atleast one element should be true
any(my_tuple)

True

In [426]:
# all element should be true
all(my_tuple)

True

In [428]:
sum(my_tuple)

45

In [429]:
tuple(range(1,11))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### tuple method

#method for tuple
append() *
extend() *
instert() *
count()
index()
clear() *
pop() *
sort() *
reverse() *

Python has two built-in methods that you can use on tuples.

Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

In [430]:
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [431]:
my_tuple.count(5)

1

In [432]:
# returns the position of element where it was found
my_tuple.index(5)

4

In [433]:
# concatenation is possible
odd = (1,3,5)
even = (2,4,6)

In [434]:
# creating new obj thats why we can add tuple
odd + even

(1, 3, 5, 2, 4, 6)

In [436]:
odd + (5,)

(1, 3, 5, 5)

In [435]:
odd * 2

(1, 3, 5, 1, 3, 5)

In [437]:
# relational operator
odd > even

False

In [438]:
a = (4,5,6)
b = (4,5,7)

In [439]:
a> b

False

In [440]:
a < b

True

## Set

In [441]:
# can not keep dublicate values
# set is un orderd collection

In [442]:
myset = {1,1,1,2,3,5}
myset

{1, 2, 3, 5}

In [444]:
# can not access elemenets
myset[1]

TypeError: 'set' object is not subscriptable

In [445]:
# can not perform slicing operation
myset[1:3]

TypeError: 'set' object is not subscriptable

In [448]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [449]:
myset

{1, 2, 3, 5}

In [450]:
myset.add(100000)
myset

{1, 2, 3, 5, 100000}

In [451]:
myset.pop()
myset

{1, 2, 3, 5}

In [452]:
myset.clear()
myset

set()

In [453]:
myset = {1,1,1,2,3,5}
myset2 = {2,3,6}

In [454]:
myset.intersection(myset2)

{2, 3}

In [455]:
myset.difference(myset2)

{1, 5}

## String

In [456]:
# string ' ' or " " string  is a collection of one or more than one char

'v'  # string with single char
'vilas' # string with multiple char
' ' # empty string

In [457]:
mystr = "vilas"
mystr

'vilas'

In [465]:
# multi line string
my_str = '''Python
is 
coding 
language'''
print(my_str)

Python
is
coding
language

In [466]:
mystr1 = 'i love coding'
mystr1

'i love coding'

In [467]:
len(mystr1)

13

In [468]:
mystr1[4]

'v'

In [469]:
# extract 'love'
mystr1[2:6]

'love'

In [470]:
# to take input from user ans print it in revers order
strinp = input('Enter the name:')
for i in range(1,len(strinp)+1):
    print(strinp[-i], end = '')

Enter the name:Python
nohtyP

In [472]:
strinp = input('Enter the name:')
for i in range(len(strinp)-1, -1, -1):
    print(strinp[i], end = '')

Enter the name:python
nohtyp

In [473]:
# concatination

In [474]:
# +
'vilas' + ' ' + 'tade'

'vilas tade'

In [475]:
# * 
'vilas' * 2

'vilasvilas'

In [476]:
'ba'+'na'*2

'banana'

In [477]:
# memnership operator

In [478]:
mystr = 'vilas'
'i' in mystr

True

In [479]:
'A' in mystr

False

In [480]:
# relational operator

In [481]:
'tim' == 'tie'

False

In [482]:
'free' != 'fredon'

True

In [483]:
'arrow' > 'aron'

True

In [484]:
'a' > 'b'

False

In [485]:
# check unicode value for eaxample a is come 1st then b  chr(65) ='A'
'a' < 'b'

True

In [486]:
ord('a')

97

In [487]:
ord('b')

98

In [488]:
# is and is not

In [490]:
a = 'python'
b = 'python'

In [491]:
a is b

True

In [492]:
a is not b

False

# function in string
len()
max()
min()
chr()
ord()

In [493]:
chr(65)

'A'

In [494]:
# it will give the charecter at perticular unicode value
chr(50)

'2'

In [495]:
# methos of strings
#capitalize() only 1st chr is capitalize

In [496]:
'python code'.capitalize()

'Python code'

In [497]:
# lower()
# upeer()

In [498]:
'python code'.upper()

'PYTHON CODE'

In [499]:
'PYTHON CODE'.lower()

'python code'

In [500]:
'python code'.upper().lower()

'python code'

In [501]:
# swapcase()  lower change to upper and upper changes to lower

In [502]:
'PYTHON CODE'.swapcase()

'python code'

In [503]:
'Python Code'.swapcase()

'pYTHON cODE'

In [504]:
# title() return as title . 1st will be cap in other will be in lower

In [505]:
'i LOVe pYTHON'.title()

'I Love Python'

In [506]:
# islower()  check whehtet str is in lower or upper case
# isupeer()

In [507]:
'Python'.islower()

False

In [508]:
'Python'.isupper()

False

In [509]:
'PYTHON'.isupper()  # all should be cap

True

In [510]:
'VILAS'.isalpha()

True

In [511]:
'VILAS '.isalpha()

False

In [512]:
'123'.isdigit()

True

In [513]:
'v1'.isdigit()

False

In [514]:
'c'.isdigit()

False

In [515]:
# isalnum() false for space and specital char

In [516]:
'v1'.isalnum()

True

In [517]:
'v1 '.isalnum()

False

In [518]:
# strip()  .. Return a copy of the string with leading and trailing whitespace removed.

In [519]:
'python '.strip()

'python'

In [520]:
' python '.strip()

'python'

In [521]:
# index()

In [522]:
'i love python'.index('love') # start index of love

2

In [529]:
'small'.translate('German')

'small'

# Doctionary

In [530]:
# key and value pair

In [532]:
mydict ={}
type(mydict)

dict

In [531]:
# dict with int key
mydict1 = {1: 'vilas', 2 : 'amit', 3 : 'sagar'}
mydict1

{1: 'vilas', 2: 'amit', 3: 'sagar'}

In [533]:
mydict2 = dict()

In [534]:
mydict2['vilas'] = ['python', 'matlab']
mydict2['amit'] = ['python', 'matlab', 'java']

In [535]:
mydict2

{'vilas': ['python', 'matlab'], 'amit': ['python', 'matlab', 'java']}

In [536]:
mydict2.values()

dict_values([['python', 'matlab'], ['python', 'matlab', 'java']])

In [537]:
mydict2.keys()

dict_keys(['vilas', 'amit'])

In [538]:
for i in mydict2:
    print(i)

vilas
amit

In [539]:
for i in mydict2.keys():
    print(i)

vilas
amit

In [540]:
for i in mydict2.values():
    print(i)

['python', 'matlab']
['python', 'matlab', 'java']

In [541]:
for i in mydict2.items():
    print(i)

('vilas', ['python', 'matlab'])
('amit', ['python', 'matlab', 'java'])

In [542]:
for i, j in mydict2.items():
    print(f'My name is {i} and i know {j}')

My name is vilas and i know ['python', 'matlab']
My name is amit and i know ['python', 'matlab', 'java']

In [543]:
# add new key and value
mydict2['sagar'] = ['python', 'AWS', 'GWS']

In [544]:
mydict2

{'vilas': ['python', 'matlab'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

In [545]:
if 'vilas' in mydict2:
    print('Present')

Present

In [546]:
# overwite 
mydict2['vilas'] = ['java']

In [547]:
mydict2

{'vilas': ['java'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

In [548]:
mydict2['vilas'] = mydict2['vilas'] + ['python']

In [549]:
mydict2

{'vilas': ['java', 'python'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

In [550]:
mydict2['vilas'] = mydict2['vilas'] + ['cc','cc+']

In [551]:
mydict2

{'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

### Dict Functions

In [552]:
len(mydict2)

3

In [553]:
max(mydict2)

'vilas'

In [554]:
min(mydict2)

'amit'

In [555]:
sorted(mydict2) # accending order

['amit', 'sagar', 'vilas']

In [556]:
any(mydict2)

True

In [557]:
all(mydict2)

True

### mathod


clear()
copy()
setdefualt()
get()
keys()
vslues()
items()
update()
pop()
popitems()

In [558]:
mydict2

{'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

In [559]:
mydict2.pop('sagar')

['python', 'AWS', 'GWS']

In [560]:
mydict2

{'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java']}

In [561]:
mydict2.popitem()

('amit', ['python', 'matlab', 'java'])

In [562]:
mydict2

{'vilas': ['java', 'python', 'cc', 'cc+']}

In [563]:
mydict2.pop('sagar', 'not found')

'not found'

In [564]:
mydict2.clear()

In [565]:
mydict2

{}

In [566]:
mydict3 ={'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

In [567]:
mydict4 = mydict3.copy()

In [568]:
mydict4

{'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

In [569]:
mydict4['kishor'] = ['java', 'c','cc+']

In [570]:
mydict3

{'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS']}

In [571]:
mydict4

{'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS'],
 'kishor': ['java', 'c', 'cc+']}

## Dict Comprehenstion

In [572]:
even_odd = {i : 'Even' if i % 2 == 0 else 'odd' for i in range(11)}

In [573]:
even_odd

{0: 'Even',
 1: 'odd',
 2: 'Even',
 3: 'odd',
 4: 'Even',
 5: 'odd',
 6: 'Even',
 7: 'odd',
 8: 'Even',
 9: 'odd',
 10: 'Even'}

# Function

In [575]:
sum((10,5))

15

In [576]:
def addtowno():
    a = 10
    b = 15
    c = a+b
    print(c)

In [577]:
addtowno()

25

In [578]:
def addtownum():
    a = input('Enter 1st no: ')
    b = input('Enter 2nd no: ')
    c = int(a) + int(b)
    print(c)

In [579]:
addtownum()

Enter 1st no: 10
Enter 2nd no: 5
15

In [580]:
def absolute(x):
    return abs(x)

In [581]:
absolute(-5)

5

In [582]:
def absolute(x):
    if x < 0:
        print(x * (-1))
    else:
        print(x)

In [583]:
absolute(-5)

5

In [584]:
a = int(input('enter a number: '))
x =absolute(a)

enter a number: -6000
6000

In [585]:
# with return
def addtownum():
    a = input('Enter 1st no: ')
    b = input('Enter 2nd no: ')
    c = int(a) + int(b)
    return int(a),int(b),c

In [586]:
addtownum()

Enter 1st no: 10
Enter 2nd no: 5

(10, 5, 15)

In [587]:
a_value, b_value , opt = addtownum()

Enter 1st no: 10
Enter 2nd no: 5

In [588]:
a_value, b_value , opt

(10, 5, 15)

In [599]:
# factorial

def fact():
    num = input('Enter the num: ')
    num = int(num)
    total = 1
    for i in range(1,num+1):
        total = total * i
    return total

In [601]:
fact()

Enter the num: 0

1

In [602]:
def recur_factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*recur_factorial(n-1)

In [603]:
recur_factorial(3)

6

In [604]:
# positional argument

In [605]:
def nos(a,b,c,d):
    return a*b*c*d

In [606]:
nos(1,3,5,5)

75

In [607]:
nos(1)

TypeError: nos() missing 3 required positional arguments: 'b', 'c', and 'd'

In [608]:
# keyword argument

In [609]:
nos(a= 1,b= 3,c = 5,d= 5)

75

In [610]:
nos(c = 5,d= 5,a= 1,b= 3)

75

In [611]:
# default arg
def nos(a,b,c,d = 1):
    return a*b*c*d

In [612]:
nos(c = 5,a= 1,b= 3)

15

In [613]:
# *arg

In [614]:
def nos(*a):
    num = 1
    for i in a:
        num = num * i
    return num

In [617]:
def total(*arg):
    sum1 = 0
    for i in arg:
        sum1 = sum1+ i
    return sum1

In [619]:
total(10,10,5)

25

In [620]:
def nos(*a):
    num = 1
    for i in a:
        num = num * i
    return num

In [621]:
nos(1,2,3)

6

In [622]:
def gro(name, price):
    print('Item is', name, 'Its price is', price)

In [623]:
gro(150, 'butter')

Item is 150 Its price is butter

In [624]:
gro(price = 150,name = 'butter')

Item is butter Its price is 150

In [625]:
def area(radius ,pi = 3.14):
    return radius **2 * pi

In [626]:
area(10)

314.0

In [627]:
import math
area(10, math.pi)

314.1592653589793

In [628]:
def find_len(x):
    ls = []
    for i in x.split():
        ls.append(len(i))
    return max(ls)

In [629]:
find_len('Python code')

6

In [630]:
def find_len1(*args):
    larg = ''
    for i in args:
        if len(i) > len(larg):
            larg = i
        #print(i)
    return len(larg)

In [631]:
find_len1('vi', 'tade', 'a')

4

In [632]:
def f():
    print(m)
f()
m = 'I love python'

NameError: name 'm' is not defined

In [635]:
# global variable
def f():
    print(m)
m = 'I love python'
f()

I love python

In [636]:
# local variable
def test():
    name = 'vilas'
    print(name)
test()
print(name)

vilas
PYTHON

In [ ]:
#local var is variable which we defining in the fun and the scope is limited to fun only
# opposite to global var

In [637]:
a = 'I love java'
def test1():
    a = 'I love python'
    print(a)
test1()
print(a)

I love python
I love java

In [638]:
# making local var to globalvar
#a = 'I love java'
def test1():
    global b
    b = 'I love python'
    print(b)
test1()
print(b)

I love python
I love python

In [639]:
b = 'I love java'
def test1():
    global b
    b = 'I love python'
    print(b)
test1()
print(b)

I love python
I love python

In [640]:
a = 'I love java'
def test1():
    global b
    b = 'I love python'
    print(a)
test1()
print(b)

I love java
I love python

In [641]:
a = 'I love java'
def test1():
    global b , c
    b = 'I love python'
    c = 'I love c'
    print(a)
test1()
print(b)
print(c)

I love java
I love python
I love c

In [644]:
a = 'I love java'
def test1():
    print(a)
    a = 'I love python'
    print(a)
    
test1()

UnboundLocalError: local variable 'a' referenced before assignment

# lambda

In [645]:
def ad(x,y):
    return x+y

In [646]:
ad(10,15)

25

In [647]:
add = lambda x,y : x+y

In [648]:
add(5,6)

11

In [649]:
type(add)

function

In [650]:
print(( lambda x,y : x+y)(5,6))

11

In [651]:
#take 2 values and fine sq of these var

num1 = int(input('enter num1'))
num2 = int(input('enter num2'))
squre = lambda x : x**2
print('Sq of num1',squre(num1))
print('Sq of num2',squre(num2))
squre1 = lambda x,y : (x**2, y**2)
print(squre1(num1,num2))

enter num110
enter num22
Sq of num1 100
Sq of num2 4
(100, 4)

In [652]:
char = lambda x : (x[0], x[-1])
char('vilas')

('v', 's')

In [653]:
# return true or false if num is even or false if num odd
num = [1,2,3,4]
evnodd = lambda x : x % 2 ==0
ls = list(map(evnodd, num))
ls

[False, True, False, True]

In [654]:
evnodd(3)

False

In [655]:
evenodd = lambda x : "True" if x % 2 ==0 else "False"

In [656]:
evenodd(2)

'True'

In [657]:
# WAp to take 2 arg and find out gretest amount them

bigger = lambda a,b : "1st num is bigger" if a> b else "2nd num is bigger"

In [658]:
bigger(6,5)

'1st num is bigger'

In [659]:
bigger(5,6)

'2nd num is bigger'

# map(func, *iterables)

In [660]:
ls = [1,2,3,4,5,6,7,8,9,10]
def sq(x):
    return x **2

In [661]:
for i in ls:
    print(sq(i), end = ', ')

1, 4, 9, 16, 25, 36, 49, 64, 81, 100,

In [662]:
list(map(sq,ls))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [663]:
list(map(lambda x : x**2, ls))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [664]:
def inspect(s):
    if len(s) % 2 ==0:
        return 'Even'
    else:
        return s[0]

In [665]:
inspect('vilas')

'v'

In [666]:
inspect('tade')

'Even'

In [667]:
month = ['jan','feb','march']
for i in month:
    print(inspect(i))

j
f
m

In [668]:
month = ['jan','feb','march']
print(list(map(inspect, month)))

['j', 'f', 'm']

# filter(function or None, iterable)

In [669]:
ls = [1,2,3,4,5,6,7,8,9,10]

In [670]:
list(filter(lambda x : x % 2 ==0 ,ls))

[2, 4, 6, 8, 10]

In [671]:
ls_even =list(filter(lambda x : x % 2 ==0 ,ls))
ls_even,[i **2 for i in ls_even]

([2, 4, 6, 8, 10], [4, 16, 36, 64, 100])

In [672]:
def checkeven(x):
    return x % 2 ==0

In [673]:
for i in ls:
    print(checkeven(i))

False
True
False
True
False
True
False
True
False
True

In [674]:
# filtering true values
for i in ls:
    if checkeven(i):
        print(i)

2
4
6
8
10

In [675]:
list(filter(lambda x : x**2 , ls))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [676]:
# check char whether vowel or not
char = 'a'
print((lambda x : True if x in 'aioue' else False)(char))

True

In [677]:
list(filter(lambda x : x in 'aioue', 'vilas'))

['i', 'a']

In [678]:
# display only vowel from string
name = 'vilas'

def vowel_check(x):
    vowel_ls = []
    for i in x:
        if i in 'aiour':
            vowel_ls.append(i)
    if len(vowel_ls)> 0:
        return vowel_ls
    else:
        return 'No vowel'

In [679]:
list(map(vowel_check, 'vilas'))

['No vowel', ['i'], 'No vowel', ['a'], 'No vowel']

In [680]:
vowel_check('vilas')

['i', 'a']

In [681]:
vowel_check('xys')

'No vowel'

In [682]:
name = 'vilaas'
templs = list(filter(lambda x : x in 'aioue', name))
if len(templs) == 0:
    print('No vowel')
else:
    print(templs)

['i', 'a', 'a']

In [683]:
name = 'snpatdsf'
lst =[]
for j in name:
    if j in 'aeiouAEIOU':
        lst.append(j)
if len(lst)>0:
    print(lst)
else:
    print("No Vowels")



#templs = list(filter('No vowel' if len(templs) == 0 else "Vovel" lambda x : x in name))

['a']

# enumurate() >>> enumerate(iterable, start=0)

In [686]:
mydict4

{'vilas': ['java', 'python', 'cc', 'cc+'],
 'amit': ['python', 'matlab', 'java'],
 'sagar': ['python', 'AWS', 'GWS'],
 'kishor': ['java', 'c', 'cc+']}

In [690]:
for i, j in enumerate(mydict4):
    print(i,j)

0 vilas
1 amit
2 sagar
3 kishor

# Zip()

In [691]:
ls1 = [1,2,3,4,5]
ls2 = ['a','b','c','d','e']

In [693]:
list(zip(ls1,ls2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [694]:
ls1 = [1,2,3,4]
ls2 = ['a','b','c','d','e']

In [695]:
list(zip(ls1,ls2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [696]:
ls1 = [1,2,3,4]
ls2 = ['a','b','e']

In [697]:
list(zip(ls1,ls2))

[(1, 'a'), (2, 'b'), (3, 'e')]

In [718]:
ls1 = ['Harshit', 'Ram', 'Mohan']
ls2 = [24, 35, 23]

# THe output should be
#0 Harshit 24
#1 Ram 35
#2 Mohan 23

In [712]:
for i, j in enumerate(zip(ls1,ls2)):
    print( i,j)

0 ('Harshit', 24)
1 ('Ram', 35)
2 ('Mohan', 23)

In [713]:
for i,(ls1,ls2) in enumerate(zip(ls1,ls2)):
    print( i,ls1,ls2)

0 Harshit 24
1 Ram 35
2 Mohan 23

In [725]:
x =list(enumerate(zip(ls1,ls2)))
for i, j in x:
    print(i,j[0],j[1])

0 Harshit 24
1 Ram 35
2 Mohan 23

In [719]:
list(zip(ls1,ls2))

[('Harshit', 24), ('Ram', 35), ('Mohan', 23)]